{% extends "base.html" %}

{% block content %}

    {{post.render() | safe}}
    
    <h3>Comments</h3>
    
    {% if comments %}
        {% for comment in comments %}
            {{comment.render() | safe}}
            <hr>
        {% endfor %}
    {% endif %}
    <div>
        <form method="POST">
            <textarea  class="comment-new" name="content"></textarea>
            <div class="error comment-error">{{error}}</div>
            <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}